body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron {
  padding: 25px;
}

.panel-heading {
  padding: 3px;
  text-indent: 20px;
}

h1 {
  text-align: center;
}

.heading-footer {
  text-align: right;
  font-style: italic;
  font-size: medium;
}

.ending-footer {
  text-align: center;
}

h3 {
  color: black;
}

p {
  text-indent: 30px;
}

#output {
  float: left;
  text-align: center;
}

#javascript {
  display: none;
}

#ruby {
  display: none;
}

#python { 
  display: none;
}
