body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.jumbotron {
  padding: 25px;
}

.panel-heading {
  padding: 25;
}

h1 {
  text-align: center;
}

.heading-footer {
  text-align: right;
  font-style: italic;
  font-size: medium;
}

h3 {
  color: black;
}
